body {
    background: aliceblue;
}
.article {
    
}
.article-thumbnail {
    background: white;
    border-style: solid;
}
.article-list {
    width: 30em;
    margin: auto;
}
.nav-panel {
    width: 10em;
}
.category-item-selected {
    color: red;
}