<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShareMe</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="container">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                <div>
                    <ul>
                        <li><a asp-area="Admin" asp-controller="Article" asp-action="Index">Articles</a></li>
                        <li><a asp-area="Admin" asp-controller="Author" asp-action="Index">Authors</a></li>
                        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a></li>
                        <li><a asp-area="Admin" asp-controller="Tag" asp-action="Index">Tags</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            &copy; 2019 - ShareMe
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
