@model IEnumerable<ShareMe.Models.Entity.Author>

@{
    ViewData["Title"] = "Index";
}

<div class="main-content">
    <h1>Index</h1>

    <a asp-action="Update">Create new author</a>
    <hr />
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>
                    <a asp-action="Update" asp-route-authorId="@author.AuthorId">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-authorId="@author.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
