@model ShareMe.Models.Entity.Author


@{
    ViewData["Title"] = "Update";
}

<div class="main-content">
    <h1>Author</h1>

    <form asp-action="Update">
        <input type="hidden" asp-for="AuthorId" />
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>


